*{
	margin: 0;
	padding: 0;

}

body{
	font-family: "Microsoft Yahei";
	
}

img{
	max-width:100%;
}

a{
	color:#008a75;
	text-decoration: none;
}

a:hover{
	color:#9f3;
	text-decoration: none;
}


@media screen and (min-width: 520px) and (max-width: 840px)
{

	.nav>ul>li{
		display:none;
		list-style: none;
	}

/*汉堡按钮*/

	.han-btn{

		width:30px;
		height: 5px;
		border-bottom:15px double;
		border-top: 5px solid;
		cursor:pointer;
		border-color: rgb(34,195,170);
		background-color:white;
	}
	
	/*两列式布局*/
	.work-left,.work-mid,.work-mid-two,.work-right{
		width: 25%;
		position: absolute;
	}
	

	.work-left{
		margin:20% 0 0 15%;
		



	}
	.work-mid{
		margin-top: 20%;
		margin-left: 30%;
	}

	.work-mid-two{

		margin-right:15%;
	}

	.work-right{


	}

}

@media screen and (max-width: 520px){
	.nav>ul>li{
		display:none;
		list-style: none;
	}

/*汉堡按钮*/

	.han-btn{

		width:30px;
		height: 5px;
		border-bottom:15px double;
		border-top: 5px solid;
		cursor:pointer;
		border-color: rgb(34,195,170);
		background-color:white;
	}
	
	/*两列式布局*/
	.work-left,.work-mid,.work-mid-two,.work-right{
		width: 25%;

	}
	

	.work-left{
/*		margin-top:10%;*/
		margin-left: 30%;
	


	}
	.work-mid{
		margin-top: 30%;
		margin-left: 5%;

	}

	.work-mid-two{
		margin-top: 60%;


	}

	.work-right{
		margin-top: 90%;
		margin-right:25%;
	}	
}

/*返回顶点*/
.back-box{
	width:50px;
	height:50px;
	border:2px solid #9f3;
	position: fixed;
	right:15px;
	bottom:30px;
	cursor:pointer;
	display: none;
}

/*联系QQ*/
.qq{
	position: fixed;
	right: 15px;
	bottom:78px;
	width: 50px;
	height: 50px;
	border: 2px solid #9f3;
	border-bottom-width: 0px;
	display: none;
}

.qq > .qq-auto{
	width:30px;
	height: 30px;
	margin:5px auto;
}


.back-box>.back-btn{
	width: 0px;
	height: 0px;
	margin:0 auto;
	border:15px solid transparent;
	border-bottom-color:#9f3;
}

/*第一页*/
.onepage{
	background-color: rgb(34,195,170);
	width: 100%;
	height: 960px;
}



.nav{
	height: 100px;
}
.nav ul{
	width: 100%;
	
	position: fixed;
	top: 0;
	
}

.nav li{
	
	font-size: 18px;
	height: 50px;
	width:200px;
	display: inline-block;
	text-align: center;
	line-height: 50px;


}
.nav li a{
	color:white;
	font-weight: bold;
	padding:3px 0;
}
.nav .nav-on a{
	color:#9f3;

	border-top:2px solid #9f3;
}



.center{
	text-align: center;
	margin: 0 auto;
	width: 250px;
	
}

.photo{
	
	height: 13em;
	background-color: white;
	border: 10px solid #aeead9;
	border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}
.written{

	color: white;
	text-align: center;
}
h1{
	text-shadow:1px 2px #22c3aa,2px 4px #aee2d9;
	font-size: 3.5em;
	font-weight: bold;
	color: white;
}

/*第二页*/
.twopage{
	width: 100%;
	height: 960px;
	background-color: #00bfff;
}

.twopage .center{
	padding-top: 50px;
}

.twopage h1{
	text-shadow:1px 2px #00bfff,2px 4px #aee2d9;
}

/*四列式*/

.work-demo{
	position: relative;

}


.work-left,.work-mid,.work-mid-two,.work-right{
	position: absolute;
	top:20px;

}
.work-left{
	left: 10%;

	
}

.work-mid{
	left: 35%;

	
}

.work-mid-two{
	right:35%;
}

.work-right{
	right:10%;
}

.work-demo a{
	color:white;

}
/*第三页*/

.threepage .center{
	text-align: center;
	width: 300px;
	padding-top: 50px;

}

.threepage{
	background-color: rgb(34,195,170);
	width: 100%;
	height: 960px;
}

.tag{
	margin: 8px 0;
}
.tag span{
	background-color: #096254;
	color:#aee2d9;
	padding: 2px 9px;
	border-radius: 3px;


}





